
@{
    ViewData["Title"] = "Listado";
    Layout = "~/Views/Shared/_Plantillaticketera.cshtml";
}

<h1>Listado de usuario </h1>
<h1>insertar de usuario </h1>
<h1>actualizar de usuario </h1>
<h1>eliminar de usuario </h1>
<h1>listar de usuario </h1>

